# Exercises I

# Create a function named get_db_url. It should accept a username, hostname, password, and database name and return a url connection string formatted like in the example at the start of this lesson.

In [1]:
user = "neo"
password = "follow_the_white_rabbit"
host = "matrix_incubation_pod_11379"
database = "the_one"

url = f'mysql+pymysql://{user}:{password}@{host}/{database}'
url

'mysql+pymysql://neo:follow_the_white_rabbit@matrix_incubation_pod_11379/the_one'

In [2]:
def get_sql_url(user,password,host,database):
    
    return f'mysql+pymysql://{user}:{password}@{host}/{database}'

In [3]:
user = "neo"
password = "follow_the_white_rabbit"
host = "matrix_incubation_pod_11379"
database = "the_one"

get_sql_url(user,password,host,'employees')

'mysql+pymysql://neo:follow_the_white_rabbit@matrix_incubation_pod_11379/employees'

# Use your function to obtain a connection to the employees database.

In [4]:
import pandas as pd
from env import user, password, host

pd.read_sql("select * from employees", get_sql_url(user, password, host, 'employees'))

        emp_no  birth_date first_name last_name gender   hire_date
0        10001  1953-09-02     Georgi   Facello      M  1986-06-26
1        10002  1964-06-02    Bezalel    Simmel      F  1985-11-21
2        10003  1959-12-03      Parto   Bamford      M  1986-08-28
3        10004  1954-05-01  Chirstian   Koblick      M  1986-12-01
4        10005  1955-01-21    Kyoichi  Maliniak      M  1989-09-12
...        ...         ...        ...       ...    ...         ...
300019  499995  1958-09-24     Dekang  Lichtner      F  1993-01-12
300020  499996  1953-03-07       Zito      Baaz      M  1990-09-27
300021  499997  1961-08-03    Berhard    Lenart      M  1986-04-21
300022  499998  1956-09-05   Patricia   Breugel      M  1993-10-13
300023  499999  1958-05-01     Sachin   Tsukuda      M  1997-11-30

[300024 rows x 6 columns]

In [5]:
def get_data_from_sql(user, host, password, database, query):
    '''
    take in user, host, password, 
    database and query
    Access sql database
    return a pandas dataframe of the query results   
    '''
    
    url = f'mysql+pymysql://{user}:{password}@{host}/{database}'
        
    return pd.read_sql(query, url)

In [6]:
query = '''

select * from employees

'''

df = get_data_from_sql(user, host, password, "employees", query)

df.head(10)

   emp_no  birth_date first_name  last_name gender   hire_date
0   10001  1953-09-02     Georgi    Facello      M  1986-06-26
1   10002  1964-06-02    Bezalel     Simmel      F  1985-11-21
2   10003  1959-12-03      Parto    Bamford      M  1986-08-28
3   10004  1954-05-01  Chirstian    Koblick      M  1986-12-01
4   10005  1955-01-21    Kyoichi   Maliniak      M  1989-09-12
5   10006  1953-04-20     Anneke    Preusig      F  1989-06-02
6   10007  1957-05-23    Tzvetan  Zielinski      F  1989-02-10
7   10008  1958-02-19     Saniya   Kalloufi      M  1994-09-15
8   10009  1952-04-19     Sumant       Peac      F  1985-02-18
9   10010  1963-06-01  Duangkaew   Piveteau      F  1989-08-24

# Once you have successfully run a query:

# a. Intentionally make a typo in the database url. What kind of error message do you see?

In [7]:
url = f'mysql+pymysql://{user}ERROR:{password}@{host}/employees'
        
pd.read_sql(query, url)

OperationalError: (pymysql.err.OperationalError) (1045, "Access denied for user 'bayes_828ERROR'@'cpe-173-174-142-84.satx.res.rr.com' (using password: YES)")
(Background on this error at: http://sqlalche.me/e/13/e3q8)

# b. Intentionally make an error in your SQL query. What does the error message look like?

In [8]:
url = f'mysql+pymysql://{user}:{password}@{host}/employees'
    
query = "select ** from employees"
        
pd.read_sql(query, url)

ProgrammingError: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '* from employees' at line 1")
[SQL: select ** from employees]
(Background on this error at: http://sqlalche.me/e/13/f405)

# Read the employees and titles tables into two separate DataFrames.

In [9]:
employees = get_data_from_sql(user, host, password, 'employees', 'select * from employees')
employees.head()

   emp_no  birth_date first_name last_name gender   hire_date
0   10001  1953-09-02     Georgi   Facello      M  1986-06-26
1   10002  1964-06-02    Bezalel    Simmel      F  1985-11-21
2   10003  1959-12-03      Parto   Bamford      M  1986-08-28
3   10004  1954-05-01  Chirstian   Koblick      M  1986-12-01
4   10005  1955-01-21    Kyoichi  Maliniak      M  1989-09-12

In [10]:
titles = get_data_from_sql(user, host, password, 'employees', 'select * from titles')
titles.head()

   emp_no            title   from_date     to_date
0   10001  Senior Engineer  1986-06-26  9999-01-01
1   10002            Staff  1996-08-03  9999-01-01
2   10003  Senior Engineer  1995-12-03  9999-01-01
3   10004         Engineer  1986-12-01  1995-12-01
4   10004  Senior Engineer  1995-12-01  9999-01-01

# How many rows and columns do you have in each DataFrame? Is that what you expected?

In [11]:
employees.shape

(300024, 6)

In [12]:
titles.shape

(443308, 4)

# Display the summary statistics for each DataFrame.

In [13]:
employees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300024 entries, 0 to 300023
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   emp_no      300024 non-null  int64
 1   birth_date  300024 non-null  object
 2   first_name  300024 non-null  object
 3   last_name   300024 non-null  object
 4   gender      300024 non-null  object
 5   hire_date   300024 non-null  object
dtypes: int64(1), object(5)
memory usage: 13.7+ MB

In [14]:
employees.describe()

              emp_no
count  300024.000000
mean   253321.763392
std    161828.235540
min     10001.000000
25%     85006.750000
50%    249987.500000
75%    424993.250000
max    499999.000000

In [15]:
titles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 443308 entries, 0 to 443307
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   emp_no     443308 non-null  int64
 1   title      443308 non-null  object
 2   from_date  443308 non-null  object
 3   to_date    443308 non-null  object
dtypes: int64(1), object(3)
memory usage: 13.5+ MB

In [16]:
titles.describe()

              emp_no
count  443308.000000
mean   253075.034430
std    161853.292613
min     10001.000000
25%     84855.750000
50%    249847.500000
75%    424891.250000
max    499999.000000

# How many unique titles are in the titles DataFrame?

In [17]:
titles.title.value_counts()

Engineer              115003
Staff                 107391
Senior Engineer        97750
Senior Staff           92853
Technique Leader       15159
Assistant Engineer     15128
Manager                   24
Name: title, dtype: int64

In [18]:
len(titles.title.value_counts())

7

# What is the oldest date in the to_date column?

In [19]:
titles.to_date.sort_values(ascending=False)

0         9999-01-01
251516    9999-01-01
251529    9999-01-01
251528    9999-01-01
251526    9999-01-01
             ...
277603    1985-04-17
35527     1985-03-23
346216    1985-03-20
406358    1985-03-11
16064     1985-03-01
Name: to_date, Length: 443308, dtype: object

In [20]:
titles.to_date.sort_values(ascending=False).head(1)

0    9999-01-01
Name: to_date, dtype: object

# What is the most recent date in the to_date column?

In [21]:
titles.to_date.sort_values(ascending=True).head(1)

16064    1985-03-01
Name: to_date, dtype: object

In [22]:
titles.to_date.sort_values(ascending=False).tail(1)

16064    1985-03-01
Name: to_date, dtype: object

# Exercises III

# Use your get_db_url function to help you explore the data from the chipotle database.

In [54]:
def get_data_from_sql(user, host, password, database, query):
    '''
    take in user, host, password, 
    database and query
    Access sql database
    return a pandas dataframe of the query results   
    '''
    
    url = f'mysql+pymysql://{user}:{password}@{host}/{database}'
        
    return pd.read_sql(query, url)

In [55]:
df = get_data_from_sql(user, host, password, 'chipotle', 'select * from orders')
df.head()

,id,order_id,quantity,item_name,choice_description,item_price
0,1,1,1,Chips and Fresh Tomato Salsa,nan,$2.39
1,2,1,1,Izze,[Clementine],$3.39
2,3,1,1,Nantucket Nectar,[Apple],$3.39
3,4,1,1,Chips and Tomatillo-Green Chili Salsa,nan,$2.39
4,5,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Cheese, Sour Cream]]",$16.98

# What is the total price for each order?

In [56]:
df.groupby('order_id')

In [57]:
df.groupby('order_id').item_price

In [58]:
df.groupby('order_id').item_price.agg('sum')

order_id
1       $2.39 $3.39 $3.39 $2.39
2                        $16.98
3                  $10.98 $1.69
4                  $11.75 $9.25
5                   $9.25 $4.45
                  ...
1830              $11.75 $11.25
1831          $9.25 $2.15 $1.50
1832                $8.75 $4.45
1833              $11.75 $11.75
1834         $11.25 $8.75 $8.75
Name: item_price, Length: 1834, dtype: object

In [59]:
df['item_price'] = df.item_price.apply(lambda value: float(value[1:].strip()))

In [60]:
df.head()

,id,order_id,quantity,item_name,choice_description,item_price
0,1,1,1,Chips and Fresh Tomato Salsa,nan,2.39
1,2,1,1,Izze,[Clementine],3.39
2,3,1,1,Nantucket Nectar,[Apple],3.39
3,4,1,1,Chips and Tomatillo-Green Chili Salsa,nan,2.39
4,5,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Cheese, Sour Cream]]",16.98

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  4622 non-null   int64
 1   order_id            4622 non-null   int64
 2   quantity            4622 non-null   int64
 3   item_name           4622 non-null   object
 4   choice_description  4622 non-null   object
 5   item_price          4622 non-null   float64
dtypes: float64(1), int64(3), object(2)
memory usage: 216.8+ KB

In [62]:
df.head()

,id,order_id,quantity,item_name,choice_description,item_price
0,1,1,1,Chips and Fresh Tomato Salsa,nan,2.39
1,2,1,1,Izze,[Clementine],3.39
2,3,1,1,Nantucket Nectar,[Apple],3.39
3,4,1,1,Chips and Tomatillo-Green Chili Salsa,nan,2.39
4,5,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Cheese, Sour Cream]]",16.98

In [63]:
df.groupby('order_id').item_price.agg('sum')

order_id
1       11.56
2       16.98
3       12.67
4       21.00
5       13.70
        ...
1830    23.00
1831    12.90
1832    13.20
1833    23.50
1834    28.75
Name: item_price, Length: 1834, dtype: float64

# What are the most popular 3 items?

In [64]:
df.groupby('item_name').quantity.agg('sum').sort_values(ascending=False).head(3)

item_name
Chicken Bowl           761
Chicken Burrito        591
Chips and Guacamole    506
Name: quantity, dtype: int64

# Which item has produced the most revenue?

In [65]:
df.groupby('item_name').item_price.agg('sum').sort_values(ascending=False).head(1)

item_name
Chicken Bowl    7342.73
Name: item_price, dtype: float64

# Join the employees and titles DataFrames together.

In [70]:
employee_titles = pd.merge(employees, titles, left_on='emp_no', right_on='emp_no', how='inner')
employee_titles

,emp_no,birth_date,first_name,last_name,gender,hire_date,title,from_date,to_date
0,10001,1953-09-02,Georgi,Facello,M,1986-06-26,Senior Engineer,1986-06-26,9999-01-01
1,10002,1964-06-02,Bezalel,Simmel,F,1985-11-21,Staff,1996-08-03,9999-01-01
2,10003,1959-12-03,Parto,Bamford,M,1986-08-28,Senior Engineer,1995-12-03,9999-01-01
3,10004,1954-05-01,Chirstian,Koblick,M,1986-12-01,Engineer,1986-12-01,1995-12-01
4,10004,1954-05-01,Chirstian,Koblick,M,1986-12-01,Senior Engineer,1995-12-01,9999-01-01
...,...,...,...,...,...,...,...,...,...
443303,499997,1961-08-03,Berhard,Lenart,M,1986-04-21,Engineer,1987-08-30,1992-08-29
443304,499997,1961-08-03,Berhard,Lenart,M,1986-04-21,Senior Engineer,1992-08-29,9999-01-01
443305,499998,1956-09-05,Patricia,Breugel,M,1993-10-13,Senior Staff,1998-12-27,9999-01-01
443306,499998,1956-09-05,Patricia,Breugel,M,1993-10-13,Staff,1993-12-27,1998-12-27
443307,499999,1958-05-01,Sachin,Tsukuda,M,1997-11-30,Engineer,1997-11-30,9999-01-01

# For each title, find the hire date of the employee that was hired most recently with that title.

In [78]:
query = '''

SELECT title, max(from_date) AS "most_recent_hire_date"

FROM employees
JOIN titles USING(emp_no)

GROUP BY title;

'''

df = get_data_from_sql(user, host, password, 'employees', query)
df

                title most_recent_hire_date
0     Senior Engineer            2002-08-01
1               Staff            2000-02-01
2            Engineer            2002-08-01
3        Senior Staff            2002-08-01
4  Assistant Engineer            2000-02-01
5    Technique Leader            2000-02-01
6             Manager            1996-08-30

# Write the code necessary to create a cross tabulation of the number of titles by department. (Hint: this will involve a combination of SQL code to pull the necessary data and python/pandas code to perform the manipulations.)

In [88]:
query = '''

SELECT title, dept_name

FROM employees
JOIN titles USING(emp_no)
JOIN dept_emp USING(emp_no)
JOIN departments USING(dept_no)

where titles.to_date = "9999-01-01"

'''

df = get_data_from_sql(user, host, password, 'employees', query)

df.head()

             title        dept_name
0  Senior Engineer      Development
1            Staff            Sales
2  Senior Engineer       Production
3  Senior Engineer       Production
4     Senior Staff  Human Resources

In [89]:
pd.crosstab(df.title, df.dept_name)

dept_name,Customer Service,Development,Finance,Human Resources,Marketing,Production,Quality Management,Research,Sales
title,,,,,,,,,
Assistant Engineer,68,1833,0,0,0,1542,433,77,0
Engineer,627,15677,0,0,0,13325,3744,830,0
Manager,1,1,1,1,1,1,1,1,1
Senior Engineer,1790,43364,0,0,0,37156,10390,2250,0
Senior Staff,12349,1085,10650,10843,12371,1123,0,10219,32032
Staff,3902,315,3199,3416,3880,349,0,3206,9967
Technique Leader,241,6117,0,0,0,5210,1422,321,0