# Copy the code from the lesson to create a dataframe full of student grades.

In [ ]:
import pandas as pd
import numpy as np

np.random.seed(123)

students = ['Sally', 'Jane', 'Suzie', 'Billy', 'Ada', 'John', 'Thomas',
            'Marie', 'Albert', 'Richard', 'Isaac', 'Alan']

# randomly generate scores for each student for each subject
# note that all the values need to have the same length here
math_grades = np.random.randint(low=60, high=100, size=len(students))
english_grades = np.random.randint(low=60, high=100, size=len(students))
reading_grades = np.random.randint(low=60, high=100, size=len(students))

df = pd.DataFrame({'name': students,
                   'math': math_grades,
                   'english': english_grades,
                   'reading': reading_grades})

In [ ]:
df

# Create a column named passing_english that indicates whether each student has a passing grade in english.

In [ ]:
df['passing_english'] = df.english >= 70

In [ ]:
df

# Sort the english grades by the passing_english column. How are duplicates handled?

In [ ]:
df = df.sort_values(by='passing_english')

In [ ]:
df

* **Duplicates are handeled in ascending index order**

# Sort the english grades first by passing_english and then by student name. All the students that are failing english should be first, and within the students that are failing english they should be ordered alphabetically. The same should be true for the students passing english. (Hint: you can pass a list to the .sort_values method)

In [ ]:
df = df.sort_values(by=['passing_english', 'name'])

In [ ]:
df

# Sort the english grades first by passing_english, and then by the actual english grade, similar to how we did in the last step.

In [ ]:
df = df.sort_values(by=['passing_english', 'english'], ascending=[False, False])

In [ ]:
df

# Calculate each students overall grade and add it as a column on the dataframe. The overall grade is the average of the math, english, and reading grades.

In [ ]:
df["overall_grade"] = round((df.math + df.english + df.reading)/3,0)

In [ ]:
df

# Load the mpg dataset.

In [ ]:
from pydataset import data

mpg = data('mpg')

In [ ]:
mpg.head()

# How many rows and columns are there?

In [ ]:
mpg.shape

In [ ]:
print(f'There are {mpg.shape[0]} Rows and {mpg.shape[1]} columns')

# What are the data types of each column?

In [ ]:
mpg.info()

# Summarize the dataframe with .info and .describe

In [ ]:
mpg.info()

In [ ]:
mpg.describe()

# Rename the cty column to city.

In [ ]:
mpg.rename(columns = {'cty' : 'city'}, inplace = True)

In [ ]:
mpg.head()

# Rename the hwy column to highway.

In [ ]:
mpg = mpg.rename(columns = {'hwy' : 'highway'})

In [ ]:
mpg.head()

# Do any cars have better city mileage than highway mileage?

In [ ]:
[mpg.city > mpg.highway]

In [ ]:
mpg_higher_city = mpg[mpg.city > mpg.highway]

In [ ]:
mpg_higher_city

# Create a column named mileage_difference this column should contain the difference between highway and city mileage for each car.

In [ ]:
mpg['mileage_difference'] = mpg.highway - mpg.city

In [ ]:
mpg

# Which car (or cars) has the highest mileage difference?

In [ ]:
[mpg.mileage_difference == mpg.mileage_difference.max()]

In [ ]:
mpg[mpg.mileage_difference == mpg.mileage_difference.max()]

# Which compact class car has the lowest highway mileage? The best?

In [ ]:
[mpg['class'] == 'compact']

In [ ]:
mpg_compact = mpg[mpg['class'] == 'compact']
mpg_compact.sample(10)

In [ ]:
[mpg_compact.highway == mpg_compact.highway.min()]

In [ ]:
mpg_compact[mpg_compact.highway == mpg_compact.highway.min()]

In [ ]:
mpg_compact[mpg_compact.highway == mpg_compact.highway.max()]

# Create a column named average_mileage that is the mean of the city and highway mileage.

In [ ]:
mpg['average_mileage'] = (mpg.city + mpg.highway) / 2

In [ ]:
mpg.head()

# Which dodge car has the best average mileage? The worst?

**Best**

In [ ]:
mpg_dodge = mpg[mpg.manufacturer == 'dodge']

mpg_dodge.sample(10)

In [ ]:
mpg_dodge[mpg_dodge.average_mileage == mpg_dodge.average_mileage.max()]

**Worst**

In [ ]:
mpg_dodge[mpg_dodge.average_mileage == mpg_dodge.average_mileage.min()]

# Load the Mammals dataset.

In [2]:
from pydataset import data

df = data('Mammals')

# How many rows and columns are there?

In [3]:
df.shape

(107, 4)

# What are the data types?

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 107 entries, 1 to 107
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   weight    107 non-null    float64
 1   speed     107 non-null    float64
 2   hoppers   107 non-null    bool
 3   specials  107 non-null    bool
dtypes: bool(2), float64(2)
memory usage: 2.7 KB

# Summarize the dataframe with .info and .describe

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 107 entries, 1 to 107
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   weight    107 non-null    float64
 1   speed     107 non-null    float64
 2   hoppers   107 non-null    bool
 3   specials  107 non-null    bool
dtypes: bool(2), float64(2)
memory usage: 2.7 KB

In [6]:
df.describe()

            weight       speed
count   107.000000  107.000000
mean    278.688178   46.208411
std     839.608269   26.716778
min       0.016000    1.600000
25%       1.700000   22.500000
50%      34.000000   48.000000
75%     142.500000   65.000000
max    6000.000000  110.000000

# What is the the weight of the fastest animal?

In [7]:
[df.speed == df.speed.max()]

[1      False
 2      False
 3      False
 4      False
 5      False
 6      False
 7      False
 8      False
 9      False
 10     False
 11     False
 12     False
 13     False
 14     False
 15     False
 16     False
 17     False
 18     False
 19     False
 20     False
 21     False
 22     False
 23     False
 24     False
 25     False
 26     False
 27     False
 28     False
 29     False
 30     False
 31     False
 32     False
 33     False
 34     False
 35     False
 36     False
 37     False
 38     False
 39     False
 40     False
 41     False
 42     False
 43     False
 44     False
 45     False
 46     False
 47     False
 48     False
 49     False
 50     False
 51     False
 52     False
 53      True
 54     False
 55     False
 56     False
 57     False
 58     False
 59     False
 60     False
 61     False
 62     False
 63     False
 64     False
 65     False
 66     False
 67     False
 68     False
 69     False
 70     False
 71     False
 72     False
 73     False
 74     False
 75     False
 76     False
 77     False
 78     False
 79     False
 80     False
 81     False
 82     False
 83     False
 84     False
 85     False
 86     False
 87     False
 88     False
 89     False
 90     False
 91     False
 92     False
 93     False
 94     False
 95     False
 96     False
 97     False
 98     False
 99     False
 100    False
 101    False
 102    False
 103    False
 104    False
 105    False
 106    False
 107    False
 Name: speed, dtype: bool]

In [8]:
df[df.speed == df.speed.max()]

    weight  speed  hoppers  specials
53    55.0  110.0    False     False

# What is the overal percentage of specials?

In [9]:
df.head()

   weight  speed  hoppers  specials
1  6000.0   35.0    False     False
2  4000.0   26.0    False     False
3  3000.0   25.0    False     False
4  1400.0   45.0    False     False
5   400.0   70.0    False     False

In [10]:
df.specials.sum()

10

In [11]:
len(df)

107

In [12]:
df.specials.sum() /  len(df)

0.09345794392523364

# How many animals are hoppers that are above the median speed? What percentage is this?

In [13]:
[(df.hoppers == True) & (df.speed > df.speed.median())]

[1      False
 2      False
 3      False
 4      False
 5      False
 6      False
 7      False
 8      False
 9      False
 10     False
 11     False
 12     False
 13     False
 14     False
 15     False
 16     False
 17     False
 18     False
 19     False
 20     False
 21     False
 22     False
 23     False
 24     False
 25     False
 26     False
 27     False
 28     False
 29     False
 30     False
 31     False
 32     False
 33     False
 34     False
 35     False
 36     False
 37     False
 38     False
 39     False
 40     False
 41     False
 42     False
 43     False
 44     False
 45     False
 46     False
 47     False
 48     False
 49     False
 50     False
 51     False
 52     False
 53     False
 54     False
 55     False
 56     False
 57     False
 58     False
 59     False
 60     False
 61     False
 62     False
 63     False
 64     False
 65     False
 66     False
 67     False
 68     False
 69     False
 70     False
 71     False
 72     False
 73     False
 74     False
 75     False
 76     False
 77     False
 78     False
 79     False
 80     False
 81     False
 82     False
 83     False
 84     False
 85     False
 86     False
 87     False
 88     False
 89     False
 90     False
 91     False
 92     False
 93     False
 94     False
 95     False
 96      True
 97      True
 98      True
 99      True
 100     True
 101     True
 102     True
 103    False
 104    False
 105    False
 106    False
 107    False
 dtype: bool]

In [14]:
df[(df.hoppers == True) & (df.speed > df.speed.median())]

     weight  speed  hoppers  specials
96      4.6   64.0     True     False
97      4.4   72.0     True     False
98      4.0   72.0     True     False
99      3.5   56.0     True     False
100     2.0   64.0     True     False
101     1.9   56.0     True     False
102     1.5   50.0     True     False

In [15]:
len(df[(df.hoppers == True) & (df.speed > df.speed.median())]) / len(df)

0.06542056074766354