# Exercises I

# Create a function named get_db_url. It should accept a username, hostname, password, and database name and return a url connection string formatted like in the example at the start of this lesson.

In [1]:
# get a url from a user, password, host and database
user = "neo"
password = "follow_the_white_rabbit"
host = "matrix_incubation_pod_11379"
database = "the_one"

url = f'mysql+pymysql://{user}:{password}@{host}/{database}'
url

'mysql+pymysql://neo:follow_the_white_rabbit@matrix_incubation_pod_11379/the_one'

In [2]:
def get_db_url(user,password,host,database):
    '''get a url from input user, password, host and database'''
    
    return f'mysql+pymysql://{user}:{password}@{host}/{database}'

In [3]:
# testing the function
user = "neo"
password = "follow_the_white_rabbit"
host = "matrix_incubation_pod_11379"
database = "the_one"

get_db_url(user,password,host,database)

'mysql+pymysql://neo:follow_the_white_rabbit@matrix_incubation_pod_11379/the_one'

# Use your function to obtain a connection to the employees database.

In [4]:
import pandas as pd
from env import user, password, host

# enter query as a variable
query = "select * from employees"

# get url from function
url = get_db_url(user, password, host, 'employees')

# get dataframe from query and url using read_sql
pd.read_sql(query, url)

        emp_no  birth_date first_name last_name gender   hire_date
0        10001  1953-09-02     Georgi   Facello      M  1986-06-26
1        10002  1964-06-02    Bezalel    Simmel      F  1985-11-21
2        10003  1959-12-03      Parto   Bamford      M  1986-08-28
3        10004  1954-05-01  Chirstian   Koblick      M  1986-12-01
4        10005  1955-01-21    Kyoichi  Maliniak      M  1989-09-12
...        ...         ...        ...       ...    ...         ...
300019  499995  1958-09-24     Dekang  Lichtner      F  1993-01-12
300020  499996  1953-03-07       Zito      Baaz      M  1990-09-27
300021  499997  1961-08-03    Berhard    Lenart      M  1986-04-21
300022  499998  1956-09-05   Patricia   Breugel      M  1993-10-13
300023  499999  1958-05-01     Sachin   Tsukuda      M  1997-11-30

[300024 rows x 6 columns]

In [7]:
# refactored get_db_url to return a dataframe based on inputs
def get_data_from_sql(user, host, password, database, query):
    '''
    take in user, host, password, 
    database and query
    Access sql database
    return a pandas dataframe of the query results   
    '''
    # get url from input 
    url = f'mysql+pymysql://{user}:{password}@{host}/{database}'
        
    # return dataframe of query using read_sql
    return pd.read_sql(query, url)

In [8]:
# testing function

query = '''

select * from employees

'''

df = get_data_from_sql(user, host, password, "employees", query)

df.head(10)

   emp_no  birth_date first_name  last_name gender   hire_date
0   10001  1953-09-02     Georgi    Facello      M  1986-06-26
1   10002  1964-06-02    Bezalel     Simmel      F  1985-11-21
2   10003  1959-12-03      Parto    Bamford      M  1986-08-28
3   10004  1954-05-01  Chirstian    Koblick      M  1986-12-01
4   10005  1955-01-21    Kyoichi   Maliniak      M  1989-09-12
5   10006  1953-04-20     Anneke    Preusig      F  1989-06-02
6   10007  1957-05-23    Tzvetan  Zielinski      F  1989-02-10
7   10008  1958-02-19     Saniya   Kalloufi      M  1994-09-15
8   10009  1952-04-19     Sumant       Peac      F  1985-02-18
9   10010  1963-06-01  Duangkaew   Piveteau      F  1989-08-24

# Once you have successfully run a query:

# a. Intentionally make a typo in the database url. What kind of error message do you see?

In [9]:
# making a typo in the user name results in an access denied message
url = f'mysql+pymysql://{user}ERROR:{password}@{host}/employees'
        
pd.read_sql(query, url)

OperationalError: (pymysql.err.OperationalError) (1045, "Access denied for user 'bayes_828ERROR'@'97.105.19.60' (using password: YES)")
(Background on this error at: http://sqlalche.me/e/13/e3q8)

# b. Intentionally make an error in your SQL query. What does the error message look like?

In [10]:
# making an error in your sql syntax will result in a sql syntax error
url = f'mysql+pymysql://{user}:{password}@{host}/employees'
    
query = "select ** from employees"
        
pd.read_sql(query, url)

ProgrammingError: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '* from employees' at line 1")
[SQL: select ** from employees]
(Background on this error at: http://sqlalche.me/e/13/f405)

# Read the employees and titles tables into two separate DataFrames.

In [11]:
employees = get_data_from_sql(user, host, password, 'employees', 'select * from employees')
employees.head()

   emp_no  birth_date first_name last_name gender   hire_date
0   10001  1953-09-02     Georgi   Facello      M  1986-06-26
1   10002  1964-06-02    Bezalel    Simmel      F  1985-11-21
2   10003  1959-12-03      Parto   Bamford      M  1986-08-28
3   10004  1954-05-01  Chirstian   Koblick      M  1986-12-01
4   10005  1955-01-21    Kyoichi  Maliniak      M  1989-09-12

In [12]:
titles = get_data_from_sql(user, host, password, 'employees', 'select * from titles')
titles.head()

   emp_no            title   from_date     to_date
0   10001  Senior Engineer  1986-06-26  9999-01-01
1   10002            Staff  1996-08-03  9999-01-01
2   10003  Senior Engineer  1995-12-03  9999-01-01
3   10004         Engineer  1986-12-01  1995-12-01
4   10004  Senior Engineer  1995-12-01  9999-01-01

# How many rows and columns do you have in each DataFrame? Is that what you expected?

In [13]:
employees.shape

(300024, 6)

In [14]:
titles.shape

(443308, 4)

# Display the summary statistics for each DataFrame.

In [15]:
employees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300024 entries, 0 to 300023
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   emp_no      300024 non-null  int64
 1   birth_date  300024 non-null  object
 2   first_name  300024 non-null  object
 3   last_name   300024 non-null  object
 4   gender      300024 non-null  object
 5   hire_date   300024 non-null  object
dtypes: int64(1), object(5)
memory usage: 13.7+ MB

In [16]:
employees.describe()

              emp_no
count  300024.000000
mean   253321.763392
std    161828.235540
min     10001.000000
25%     85006.750000
50%    249987.500000
75%    424993.250000
max    499999.000000

In [17]:
titles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 443308 entries, 0 to 443307
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   emp_no     443308 non-null  int64
 1   title      443308 non-null  object
 2   from_date  443308 non-null  object
 3   to_date    443308 non-null  object
dtypes: int64(1), object(3)
memory usage: 13.5+ MB

In [18]:
titles.describe()

              emp_no
count  443308.000000
mean   253075.034430
std    161853.292613
min     10001.000000
25%     84855.750000
50%    249847.500000
75%    424891.250000
max    499999.000000

# How many unique titles are in the titles DataFrame?

In [19]:
# get count of values in a column using value_counts
titles.title.value_counts()

Engineer              115003
Staff                 107391
Senior Engineer        97750
Senior Staff           92853
Technique Leader       15159
Assistant Engineer     15128
Manager                   24
Name: title, dtype: int64

In [20]:
# get number of unique values by getting length of value_counts of the column 
len(titles.title.value_counts())

7

# What is the oldest date in the to_date column?

In [21]:
# passing ascending = False will cause the values in value counts to sort in descending order
titles.to_date.sort_values(ascending=False)

0         9999-01-01
251516    9999-01-01
251529    9999-01-01
251528    9999-01-01
251526    9999-01-01
             ...
277603    1985-04-17
35527     1985-03-23
346216    1985-03-20
406358    1985-03-11
16064     1985-03-01
Name: to_date, Length: 443308, dtype: object

In [22]:
# using head one will show only the value at the top of the value sort
titles.to_date.sort_values(ascending=False).head(1)

0    9999-01-01
Name: to_date, dtype: object

# What is the most recent date in the to_date column?

In [23]:
titles.to_date.sort_values(ascending=True).head(1)

16064    1985-03-01
Name: to_date, dtype: object

In [24]:
titles.to_date.sort_values(ascending=False).tail(1)

16064    1985-03-01
Name: to_date, dtype: object

# Exercises II

# Copy the users and roles DataFrames from the examples above.

In [25]:
import numpy as np

In [26]:
# create dataframe using dictionary
users = pd.DataFrame({
                        'id': [1, 2, 3, 4, 5, 6],
                        'name': ['bob', 'joe', 'sally', 'adam', 'jane', 'mike'],
                        'role_id': [1, 2, 3, 3, np.nan, np.nan]
                     })
users

   id   name  role_id
0   1    bob      1.0
1   2    joe      2.0
2   3  sally      3.0
3   4   adam      3.0
4   5   jane      NaN
5   6   mike      NaN

In [27]:
# create dataframe using dictionary
roles = pd.DataFrame({
                        'id': [1, 2, 3, 4],
                        'name': ['admin', 'author', 'reviewer', 'commenter']
                    })
roles

   id       name
0   1      admin
1   2     author
2   3   reviewer
3   4  commenter

# What is the result of using a right join on the DataFrames?

In [29]:
# right merge users and roles using the role_id and id 
pd.merge(users, roles, left_on='role_id', right_on='id', how='right')

   id_x name_x  role_id  id_y     name_y
0   1.0    bob      1.0     1      admin
1   2.0    joe      2.0     2     author
2   3.0  sally      3.0     3   reviewer
3   4.0   adam      3.0     3   reviewer
4   NaN    NaN      NaN     4  commenter

* If columns have matching names they are renamed adding _x or _y depending on which dataframe they came from
* All rows on the right dataframe are kept
* If a row on the left dataframe matches a row on the right dataframe they are combined into one row
* If a row on the left dataframe does not match a row on the right dataframe it is discarded 
* If a row on the right dataframe does not match a row on the left dataframe the row is added to the new dataframe and null values are placed in the columns from the right dataframe
* rows are matching if they contain the same value for the columns designated left_on and right_on

# What is the result of using an outer join on the DataFrames?

In [30]:
# outer merging the users and roles tables on the role_id and id columns
pd.merge(users, roles, left_on='role_id', right_on='id', how='outer')

   id_x name_x  role_id  id_y     name_y
0   1.0    bob      1.0   1.0      admin
1   2.0    joe      2.0   2.0     author
2   3.0  sally      3.0   3.0   reviewer
3   4.0   adam      3.0   3.0   reviewer
4   5.0   jane      NaN   NaN        NaN
5   6.0   mike      NaN   NaN        NaN
6   NaN    NaN      NaN   4.0  commenter

* If columns have matching names they are renamed adding _x or _y depending on which table they came from
* All rows are kept
* Rows that match are combined into one row 
* Rows that do not match are added to the new dataframe and nulls are put into columns where values are missing

# Load the mpg dataset from PyDataset.

In [31]:
import pydataset
from pydataset import data
mpg = data('mpg')

# Output and read the documentation for the mpg dataset.

In [32]:
pydataset.data('mpg', show_doc=True)

mpg

PyDataset Documentation (adopted from R Documentation. The displayed examples are in R)

## Fuel economy data from 1999 and 2008 for 38 popular models of car

### Description

This dataset contains a subset of the fuel economy data that the EPA makes
available on http://fueleconomy.gov. It contains only models which had a new
release every year between 1999 and 2008 - this was used as a proxy for the
popularity of the car.

### Usage

    data(mpg)

### Format

A data frame with 234 rows and 11 variables

### Details

  * manufacturer.

  * model.

  * displ. engine displacement, in litres

  * year.

  * cyl. number of cylinders

  * trans. type of transmission

  * drv. f = front-wheel drive, r = rear wheel drive, 4 = 4wd

  * cty. city miles per gallon

  * hwy. highway miles per gallon

  * fl.

  * class.

# How many rows and columns are in the dataset?

In [33]:
mpg.shape

(234, 11)

# Check out your column names and perform any cleanup you may want on them.

In [43]:
mpg.columns

Index(['manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty',
       'hwy', 'fl', 'class'],
      dtype='object')

In [44]:
# rename columns using rename
mpg = mpg.rename(columns={'cty':'cty_mpg', 'hwy':'hwy_mpg'})

mpg.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty_mpg,hwy_mpg,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact

# Display the summary statistics for the dataset.

In [45]:
mpg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 234 entries, 1 to 234
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   manufacturer  234 non-null    object
 1   model         234 non-null    object
 2   displ         234 non-null    float64
 3   year          234 non-null    int64
 4   cyl           234 non-null    int64
 5   trans         234 non-null    object
 6   drv           234 non-null    object
 7   cty_mpg       234 non-null    int64
 8   hwy_mpg       234 non-null    int64
 9   fl            234 non-null    object
 10  class         234 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 21.9+ KB

In [46]:
mpg.describe()

            displ         year         cyl     cty_mpg     hwy_mpg
count  234.000000   234.000000  234.000000  234.000000  234.000000
mean     3.471795  2003.500000    5.888889   16.858974   23.440171
std      1.291959     4.509646    1.611534    4.255946    5.954643
min      1.600000  1999.000000    4.000000    9.000000   12.000000
25%      2.400000  1999.000000    4.000000   14.000000   18.000000
50%      3.300000  2003.500000    6.000000   17.000000   24.000000
75%      4.600000  2008.000000    8.000000   19.000000   27.000000
max      7.000000  2008.000000    8.000000   35.000000   44.000000

# How many different manufacturers are there?

In [47]:
mpg.manufacturer.value_counts()

dodge         37
toyota        34
volkswagen    27
ford          25
chevrolet     19
audi          18
subaru        14
hyundai       14
nissan        13
honda          9
jeep           8
pontiac        5
mercury        4
land rover     4
lincoln        3
Name: manufacturer, dtype: int64

In [48]:
len(mpg.manufacturer.value_counts())

15

# How many different models are there?

In [49]:
mpg.model.value_counts()

caravan 2wd               11
ram 1500 pickup 4wd       10
jetta                      9
civic                      9
dakota pickup 4wd          9
mustang                    9
grand cherokee 4wd         8
impreza awd                8
a4 quattro                 8
camry                      7
a4                         7
f150 pickup 4wd            7
camry solara               7
durango 4wd                7
tiburon                    7
toyota tacoma 4wd          7
sonata                     7
passat                     7
forester awd               6
new beetle                 6
explorer 4wd               6
altima                     6
4runner 4wd                6
corolla                    5
gti                        5
grand prix                 5
c1500 suburban 2wd         5
malibu                     5
corvette                   5
mountaineer 4wd            4
k1500 tahoe 4wd            4
pathfinder 4wd             4
range rover                4
a6 quattro                 3
expedition 2wd             3
maxima                     3
navigator 2wd              3
land cruiser wagon 4wd     2
Name: model, dtype: int64

In [50]:
len(mpg.model.value_counts())

38

# Create a column named mileage_difference like you did in the DataFrames exercises; this column should contain the difference between highway and city mileage for each car.

In [51]:
# get new column mileage_difference by subtracting cty_mpg from hwy_mpg
mpg['mileage_difference'] = mpg.hwy_mpg - mpg.cty_mpg

In [52]:
mpg.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty_mpg,hwy_mpg,fl,class,mileage_difference
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10

# Create a column named average_mileage like you did in the DataFrames exercises; this is the mean of the city and highway mileage.

In [53]:
# create new column average_mileage by summing hwy_mpg and cty_mpg, and dividing the result by two
mpg['average_mileage'] = (mpg.hwy_mpg + mpg.cty_mpg) / 2

In [54]:
mpg.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty_mpg,hwy_mpg,fl,class,mileage_difference,average_mileage
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11,23.5
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8,25.0
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11,25.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9,25.5
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10,21.0

# Create a new column on the mpg dataset named is_automatic that holds boolean values denoting whether the car has an automatic transmission.

In [55]:
# inspect values in trans
mpg.trans.value_counts()

auto(l4)      83
manual(m5)    58
auto(l5)      39
manual(m6)    19
auto(s6)      16
auto(l6)       6
auto(av)       5
auto(s4)       3
auto(s5)       3
auto(l3)       2
Name: trans, dtype: int64

In [58]:
# create new column is_automatic by checking weather the first character in each value is 'a.' 
mpg['is_automatic'] = mpg.trans.apply(lambda value : value[0] == 'a')

In [59]:
mpg.sample(10)

,manufacturer,model,displ,year,cyl,trans,drv,cty_mpg,hwy_mpg,fl,class,mileage_difference,average_mileage,is_automatic
98,ford,mustang,4.6,2008,8,auto(l5),r,15,22,r,subcompact,7,18.5,True
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,9,23.5,True
194,toyota,corolla,1.8,1999,4,auto(l3),f,24,30,r,compact,6,27.0,True
68,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,13,17,r,pickup,4,15.0,True
111,hyundai,sonata,2.4,2008,4,auto(l4),f,21,30,r,midsize,9,25.5,True
211,volkswagen,gti,2.0,2008,4,auto(s6),f,22,29,p,compact,7,25.5,True
53,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,14,19,r,pickup,5,16.5,True
117,hyundai,tiburon,2.0,1999,4,manual(m5),f,19,29,r,subcompact,10,24.0,False
203,toyota,toyota tacoma 4wd,2.7,2008,4,manual(m5),4,17,22,r,pickup,5,19.5,False
24,chevrolet,corvette,5.7,1999,8,manual(m6),r,16,26,p,2seater,10,21.0,False

# Using the mpg dataset, find out which which manufacturer has the best miles per gallon on average?

In [60]:
# what do I want to compare
mpg.groupby('manufacturer')

In [61]:
# what will I use to compare them 
mpg.groupby('manufacturer').average_mileage

In [62]:
# how will I aggragate the data
mpg.groupby('manufacturer').average_mileage.agg('mean')

manufacturer
audi          22.027778
chevrolet     18.447368
dodge         15.540541
ford          16.680000
honda         28.500000
hyundai       22.750000
jeep          15.562500
land rover    14.000000
lincoln       14.166667
mercury       15.625000
nissan        21.346154
pontiac       21.700000
subaru        22.428571
toyota        21.720588
volkswagen    25.074074
Name: average_mileage, dtype: float64

In [63]:
# how will I aggragate the data
mpg.groupby('manufacturer').average_mileage.agg('median').sort_values()

manufacturer
land rover    14.00
lincoln       14.00
dodge         15.00
ford          15.50
mercury       15.75
jeep          16.00
chevrolet     19.00
audi          21.50
nissan        22.00
pontiac       22.00
toyota        22.00
hyundai       22.50
subaru        22.50
volkswagen    25.00
honda         28.50
Name: average_mileage, dtype: float64

In [64]:
# what part of the data do I want to show
mpg.groupby('manufacturer').average_mileage.agg('mean').sort_values().tail(1)

manufacturer
honda    28.5
Name: average_mileage, dtype: float64

# Do automatic or manual cars have better miles per gallon?

In [68]:
# what do I want to compare
mpg.groupby('is_automatic')

In [69]:
# what will I use to compare them 
mpg.groupby('is_automatic').average_mileage

In [70]:
# how will I aggragate the data
mpg.groupby('is_automatic').average_mileage.agg('mean')

is_automatic
False    22.227273
True     19.130573
Name: average_mileage, dtype: float64

# Exercises III

# Use your get_db_url function to help you explore the data from the chipotle database.

In [71]:
# function from earlier
def get_data_from_sql(user, host, password, database, query):
    '''
    take in user, host, password, 
    database and query
    Access sql database
    return a pandas dataframe of the query results   
    '''
    
    # get url from function inputs
    url = f'mysql+pymysql://{user}:{password}@{host}/{database}'
    
    # get dataframe from query and url using read_sql 
    return pd.read_sql(query, url)

In [ ]:
# using function to get data from chipolte database  
df = get_data_from_sql(user, host, password, 'chipotle', 'select * from orders')
df.head()

# What is the total price for each order?

In [ ]:
df.groupby('order_id')

In [ ]:
df.groupby('order_id').item_price

In [ ]:
df.groupby('order_id').item_price.agg('sum')

In [ ]:
df['item_price'] = df.item_price.apply(lambda value: float(value[1:].strip()))

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df.head()

In [ ]:
df.groupby('order_id').item_price.agg('sum')

# What are the most popular 3 items?

In [ ]:
df.groupby('item_name').quantity.agg('sum').sort_values(ascending=False).head(3)

# Which item has produced the most revenue?

In [ ]:
df.groupby('item_name').item_price.agg('sum').sort_values(ascending=False).head(1)

# Using the titles DataFrame, visualize the number of employees with each title.

In [ ]:
titles['to_date'] = titles.to_date.apply(lambda value : str(value).strip())

In [ ]:
titles[titles.to_date == '9999-01-01'].head()

In [ ]:
titles[titles.to_date == '9999-01-01'].groupby('title').emp_no.agg('count').sort_values(ascending=False)

In [ ]:
titles[titles.to_date == '9999-01-01'].groupby('title').emp_no.agg('count').sort_values(ascending=False).plot(kind='bar', title='Number of Employees by Title')

# Join the employees and titles DataFrames together.

In [ ]:
employee_titles = pd.merge(employees, titles, left_on='emp_no', right_on='emp_no', how='inner')
employee_titles

# Visualize how frequently employees change titles.

In [ ]:
employee_titles[employee_titles.emp_no == 10005]

In [ ]:
emp_no = set(employee_titles.emp_no.to_list())
emp_no

In [ ]:
title_changes = [len(employee_titles[employee_titles.emp_no == no])-1 for no in emp_no]

In [ ]:
import matplotlib.pyplot as plt

# plot histogram
plt.hist(title_changes, bins=[r-.5 for r in range(1,10)], edgecolor = 'black')

# add titles lables and show
plt.title(f"Distribution of Historic Title Changes")
plt.xlabel("Number of Title changes")
plt.ylabel("Number of Employees")

plt.show()

# For each title, find the hire date of the employee that was hired most recently with that title.

In [ ]:
query = '''

SELECT title, max(from_date) AS "most_recent_hire_date"

FROM employees
JOIN titles USING(emp_no)

GROUP BY title;

'''

df = get_data_from_sql(user, host, password, 'employees', query)
df

# Write the code necessary to create a cross tabulation of the number of titles by department. (Hint: this will involve a combination of SQL code to pull the necessary data and python/pandas code to perform the manipulations.)

In [ ]:
query = '''

SELECT title, dept_name

FROM employees
JOIN titles USING(emp_no)
JOIN dept_emp USING(emp_no)
JOIN departments USING(dept_no)

where titles.to_date = "9999-01-01"

'''

df = get_data_from_sql(user, host, password, 'employees', query)

df.head()

In [ ]:
pd.crosstab(df.title, df.dept_name)